
        {{ mojSideNavigation({
          label: "Side navigation",
          items: [{
            text: "About the school",
            href: "/school-profile/about-the-school",
            active: true
          }, {
            text: "Admissions",
            href: "/school-profile/admissions"
          }, {
            text: "Curriculum and extra curricular activities",
            href: "/school-profile/curriculum-extra-curricular"
        },
        {
            text: "Attendance",
            href: "/school-profile/attendance"
        },{
            text: "Academic performance",
            href: "/school-profile/academic-performance/attainment-progress"
        }, {
            text: "Destinations",
            href: "/school-profile/destinations"
          }]
        }) }}