
        {{ mojSideNavigation({
          label: "Side navigation",
          items: [{
            text: "About the school",
            href: "#1",
            active: true
          }, {
            text: "Admissions",
            href: "#2"
          }, {
            text: "Curriculum and extra curricular activities",
            href: "#3"
        }, {
            text: "Academic performance",
            href: "#4"
        }, {
            text: "Destinations",
            href: "#5"
          }]
        }) }}