<nav class="moj-side-navigation" aria-label="Side navigation">
  <ul class="moj-side-navigation__list">
    <li class="moj-side-navigation__item{% if activeNav == 'about' %} moj-side-navigation__item--active{% endif %}">
      <a href="/user-research/comparison-usability/school-profiles/thomas-lane/about-the-school"{% if activeNav == 'about' %} aria-current="location"{% endif %}>About the school or college</a>
    </li>
    <li class="moj-side-navigation__item{% if activeNav == 'admissions' %} moj-side-navigation__item--active{% endif %}">
      <a href="/user-research/comparison-usability/school-profiles/thomas-lane/admissions"{% if activeNav == 'admissions' %} aria-current="location"{% endif %}>Admissions</a>
    </li>
    <li class="moj-side-navigation__item{% if activeNav == 'curriculum' %} moj-side-navigation__item--active{% endif %}">
      <a href="/user-research/comparison-usability/school-profiles/thomas-lane/curriculum-extra-curricular"{% if activeNav == 'curriculum' %} aria-current="location"{% endif %}>Curriculum and extra-curricular activities</a>
    </li>
    <li class="moj-side-navigation__item{% if activeNav == 'attendance' %} moj-side-navigation__item--active{% endif %}">
      <a href="/user-research/comparison-usability/school-profiles/thomas-lane/attendance"{% if activeNav == 'attendance' %} aria-current="location"{% endif %}>Attendance</a>
    </li>
    <li class="moj-side-navigation__item{% if activeNav == 'academic-performance' %} moj-side-navigation__item--active{% endif %}">
      <a href="/user-research/comparison-usability/school-profiles/thomas-lane/academic-performance/attainment-progress"{% if activeNav == 'academic-performance' %} aria-current="location"{% endif %}>Academic performance</a>
    </li>
    <li class="moj-side-navigation__item{% if activeNav == 'destinations' %} moj-side-navigation__item--active{% endif %}">
      <a href="/user-research/comparison-usability/school-profiles/thomas-lane/destinations"{% if activeNav == 'destinations' %} aria-current="location"{% endif %}>Destinations</a>
    </li>
  </ul>
</nav>
