{% extends "layouts/ur.html" %} {% block pageTitle %} Next steps {% endblock
%} {% block content %}

<div class="govuk-grid-row">
    <!-- SIDEBAR -->

  <div class="govuk-grid-column-one-quarter">

    <nav class="moj-side-navigation" aria-label="Side navigation">

      <ul class="moj-side-navigation__list">

        <li class="moj-side-navigation__item">
          <a href="compare-schools">
            About your schools
          </a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="compare-academic-performance">
            Academic performance
          </a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="after-year-11">
            Destinations after year 11
          </a>
        </li>

        <li class="moj-side-navigation__item moj-side-navigation__item--active">
          <a href="next-steps" aria-current="location">
           Next steps
          </a>
        </li>
      </ul>

    </nav>
    </div>

  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">Comparing your schools</span>
    <h1 class="govuk-heading-xl">Next steps</h1>

    <h2 class="govuk-heading-l">Explore more information</h2>

    <p class="govuk-body">
      You can find out more about each school you're comparing by viewing the
      school profile or visiting the school website.
    </p>

    <h2 class="govuk-heading-l">Arrange a school visit</h2>
    <p class="govuk-body">
      Visiting a school allows you to experience what the school is really like.
      You can observe the learning environment, meet the staff, and explore
      whether it feels right for your child.
    </p>
    <p class="govuk-body">
      Most schools run open days, or you can contact them to arrange a visit and
      ask questions. This can be especially helpful if your child has additional
      needs and you want to understand more about the transition to secondary
      school.
    </p>

    <h2 class="govuk-heading-l">Applying to a school</h2>
    <p class="govuk-body">
      If you have chosen a school, you can review the schools admissions policy
      and apply through the local council’s secondary school application
      process.
    </p>
    <p class="govuk-body">
      You can see our the admissions guidance and explore more about the schools
      on their individual profiles.
    </p>
    <div class="sp-card">
      <div class="sp-card__content">
        <h3 class="govuk-heading-m">Bracken Cove Academy</h3>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">School Profile</th>
              <td class="govuk-table__cell">
                <a
                  href="#"
                  class="disabled-link govuk-link govuk-link--no-visited-state"
                  >View Bracken Cove Academy's School Profile</a
                >
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Website</th>
              <td class="govuk-table__cell">
                <a
                  href="/school-websites/bracken-cove"
                  class="govuk-link govuk-link--no-visited-state"
                  >View Bracken Cove Academy's website</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Telephone</th>
              <td class="govuk-table__cell">
                <a
                  href="#"
                  class="disabled-link govuk-link govuk-link--no-visited-state"
                  >0114 922 3018</a
                >
              </td>
            </tr>
          </tbody>
        </table>
        <h3 class="govuk-heading-m">Oak Nest Secondary School</h3>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">School Profile</th>
              <td class="govuk-table__cell">
                <a
                  href=""
                  class="disabled-link govuk-link govuk-link--no-visited-state"
                  >View Oak Nest Secondary School's School Profile</a
                >
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Website</th>
              <td class="govuk-table__cell">
                <a
                  href="/school-websites/oak-nest"
                  class="govuk-link govuk-link--no-visited-state"
                  >View Oak Nest Secondary School's website</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Telephone</th>
              <td class="govuk-table__cell">
                <a
                  href="#"
                  class="disabled-link govuk-link govuk-link--no-visited-state"
                  >0114 502 1394</a
                >
              </td>
            </tr>
          </tbody>
        </table>
        <h3 class="govuk-heading-m">Thomas Lane Secondary School</h3>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">School Profile</th>
              <td class="govuk-table__cell">
                <a
                  href="#"
                  class="disabled-link govuk-link govuk-link--no-visited-state"
                  >View Thomas Lane Secondary School's School Profile</a
                >
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Website</th>
              <td class="govuk-table__cell">
                <a
                  href="/school-websites/thomas-lane"
                  class="govuk-link govuk-link--no-visited-state"
                  >View Thomas Lane Secondary School's website</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Telephone</th>
              <td class="govuk-table__cell">
                <a
                  href="#"
                  class="disabled-link govuk-link govuk-link--no-visited-state"
                  >0114 245 2239</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <nav
      class="govuk-pagination govuk-pagination--block"
      aria-label="Pagination"
    >
      <div class="govuk-pagination__prev">
        <a
          class="govuk-link govuk-pagination__link"
          href="after-year-11"
          rel="prev"
        >
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--prev"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
          >
            <path
              d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"
            ></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Previous<span class="govuk-visually-hidden"> page</span>
          </span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label"
            >Destinations after year 11s</span
          >
        </a>
      </div>
    </nav>
  </div>
</div>

{% endblock %}