{% extends "layouts/ur.html" %} {% block pageTitle %} Next steps {% endblock
%} {% block content %}

<div class="govuk-grid-row">
    <!-- SIDEBAR -->

  <div class="govuk-grid-column-one-quarter">

    <nav class="moj-side-navigation" aria-label="Side navigation">

      <ul class="moj-side-navigation__list">

        <li class="moj-side-navigation__item">
          <a href="compare-schools">
            About your schools
          </a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="compare-academic-performance">
            Academic performance
          </a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="after-year-11">
            Destinations after year 11
          </a>
        </li>

        <li class="moj-side-navigation__item moj-side-navigation__item--active">
          <a href="next-steps" aria-current="location">
           Next steps
          </a>
        </li>
      </ul>

    </nav>
    </div>

  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">Comparing your schools</span>
    <h1 class="govuk-heading-xl">Next steps</h1>

    <h2 class="govuk-heading-l">Explore more information</h2>

    <p class="govuk-body">
      You can find out more about each school you're comparing by viewing the
      school profile or visiting the school website.
    </p>

    <h2 class="govuk-heading-l">Arrange a school visit</h2>
    <p class="govuk-body">
      Visiting a school allows you to experience what the school is really like.
      You can observe the learning environment, meet the staff, and explore
      whether it feels right for your child.
    </p>
    <p class="govuk-body">
      Most schools run open days, or you can contact them to arrange a visit and
      ask questions. This can be especially helpful if your child has additional
      needs and you want to understand more about the transition to secondary
      school.
    </p>

    <h2 class="govuk-heading-l">Applying to a school</h2>
    <p class="govuk-body">
      If you have chosen a school, you can review the schools admissions policy
      and apply through the local council’s secondary school application
      process.
    </p>
    <p class="govuk-body">
      You can see our the admissions guidance and explore more about the schools
      on their individual profiles.
    </p>
    
       <div class="govuk-summary-card">

  

  <div class="govuk-summary-card__content">

    {% if 'school-1' in data['selected-schools'] %}

      <h3 class="govuk-heading-m">
        {{ data['school-1-name'] }}
      </h3>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            School profile
          </dt>
          <dd class="govuk-summary-list__value">
            <a
              href="/user-research/comparison-usability/school-profiles/oak-nest/about-the-school"
              class="govuk-link"
            >
              View school Oak Nest Secondary's school profile
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ofsted report
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">
            	View the latest Ofsted report
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            School website
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">
              	https://www.oak-nest-secondary.sch.uk
            </a>
          </dd>
        </div>

      </dl>

    {% endif %}


    {% if 'school-2' in data['selected-schools'] %}

      <h3 class="govuk-heading-m govuk-!-margin-top-6">
        {{ data['school-2-name'] }}
      </h3>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            School profile
          </dt>
          <dd class="govuk-summary-list__value">
            <a
              href="/user-research/comparison-usability/school-profiles/langley-hill/about-the-school"
              class="govuk-link"
            >
              View school Langley Secondary's school profile
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ofsted report
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">
             	View the latest Ofsted report
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            School website
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">
            	https://www.langley-secondary.sch.uk
            </a>
          </dd>
        </div>

      </dl>

    {% endif %}


    {% if 'school-3' in data['selected-schools'] %}

      <h3 class="govuk-heading-m govuk-!-margin-top-6">
        {{ data['school-3-name'] }}
      </h3>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            School profile
          </dt>
          <dd class="govuk-summary-list__value">
            <a
              href="/user-research/comparison-usability/school-profiles/thomas-lane/about-the-school"
              class="govuk-link"
            >
              View Thomas Lane Secondary's school profile
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ofsted report
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">
            	View the latest Ofsted report
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            School website
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">
              	https://www.thomas-lane-secondary.sch.uk
            </a>
          </dd>
        </div>

      </dl>

    {% endif %}

  </div>

</div>

    <nav
      class="govuk-pagination govuk-pagination--block"
      aria-label="Pagination"
    >
      <div class="govuk-pagination__prev">
        <a
          class="govuk-link govuk-pagination__link"
          href="after-year-11"
          rel="prev"
        >
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--prev"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
          >
            <path
              d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"
            ></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Previous<span class="govuk-visually-hidden"> page</span>
          </span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label"
            >Destinations after year 11s</span
          >
        </a>
      </div>
    </nav>
  </div>
</div>

{% endblock %}