{% extends "layouts/ur.html" %} {% block pageTitle %} Find and compare school
and college profiles {% endblock %} {% block content %}
<div class="govuk-grid-row search-card">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Find schools and colleges in England</h1>
    <p class="govuk-body">
      Search for a school or college by name, or use a postcode to browse an area.
    </p>
  </div>

  <form class="form" action="search-results" method="post">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-body">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--s" for="event-name">
            School name
          </label>
        </h2>
        <div id="search-name-hint" class="govuk-hint">
          For example, St Joseph's secondary school
        </div>
        <input
          class="govuk-input"
          id="search-name"
          name="search-name"
          type="text"
          aria-describedby="search-name-hint"
        />
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-body">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--s" for="event-name">
           Your postcode
          </label>
        </h2>
        <div id="search-postcode-hint" class="govuk-hint">
          For example, LS28 8EU
        </div>
        <input
          class="govuk-input"
          id="search-postcode"
          name="search-postcode"
          type="text"
          aria-describedby="search-postcode-hint"
        />
      </div>
    </div>

    <div class="govuk-grid-column-three-quarters">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Search
      </button>
    </div>
  </form>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr
      class="govuk-section-break govuk-section-break--l govuk-section-break--visible"
    />
  </div>
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">View your saved schools</h2>
    <p class="govuk-body">
     Review and compare your saved schools on My schools list.
    </p>

    <form action="my-schools-list">
      <button
        type="submit"
        class="govuk-button govuk-button--secondary"
        data-module="govuk-button"
      >
        Go to My schools list
      </button>
    </form>
  </div>
</div>

{% endblock %} {% block pageScripts %} {% endblock %}
