{% extends "layouts/ur.html" %} {% block pageTitle %} Find and compare school
and college profiles {% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Find schools and colleges in England</h1>
    <p class="govuk-body">
     Use this tool to find and compare schools and colleges from primary school to further education in England. 
    </p>

    <p>
      You can search and explore:
    </p>

    <ul class="govuk-list govuk-list--bullet">
  <li>safeguarding and special education needs (SEN) policies</li>
  <li>pastoral care and behaviour policies </li>
  <li>curriculum and extra-curricular activities </li>
  <li>admissions information </li>
  <li>academic performance  </li>
</ul>

<a href="search" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
  </div>

  </div>


{% endblock %} {% block pageScripts %} {% endblock %}
