{% extends "layouts/main.html" %}

{% block pageTitle %}
Academic performance – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<style>
  .data {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .data p:first-child {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0px;
  }

  .data p:last-child {
    font-size: 19px;
    color: #505a5f;
    margin-top: 0;
  }

</style>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">
      {% include "includes/primary-profile/x-gov-sub-nav.html" %}
    </div>

    <div class="govuk-grid-column-three-quarters">

      <span class="govuk-caption-xl">Oak primary school</span>
      <h1 class="govuk-heading-xl">
        Attainment
      </h1>

      <p class="govuk-body">
        See how well pupils do in their GCSEs. Attainment 8 is based on their average results across their best 8 subjects.
      </p>

      <p class="govuk-body">
        Learn more about
        <a href="/path/of/page">Attainment 8</a>.
      </p>

      <h2 class="govuk-heading-l">
        Attainment 8 score
      </h2>

      {{ govukSelect({
        id: "academic-year-attainment",
        name: "academic-year-attainment",
        label: {
          text: "Select an academic year"
        },
        items: [
          {
            value: "2023",
            text: "2023 to 2024",
            selected: true
          },
          {
            value: "2022",
            text: "2022 to 2023"
          }
        ]
      }) }}

      <div class="data">
        <p class="govuk-body">
          45
        </p>
        <p class="govuk-body">
          Average attainment 8 score
        </p>
      </div>

      {{ govukTable({
        caption: "Attainment 8 score",
        captionClasses: "govuk-visually-hidden",
        firstCellIsHeader: true,
        head: [
          {
            text: "Compare"
          },
          {
            text: "Average Attainment 8 score"
          }
        ],
        rows: [
          [
            {
              text: "Dinnington Academy"
            },
            {
              text: "45"
            }
          ],
          [
            {
              text: "Local authority average"
            },
            {
              text: "50"
            }
          ],
          [
            {
              text: "National average"
            },
            {
              text: "40"
            }
          ]
        ]
      }) }}

      <h3 class="govuk-heading-m">
        What this means
      </h3>

      <p class="govuk-body">
        An Attainment 8 score of 45 means the average pupil achieved GCSE grades
        of around 4 to 5 across their subjects. This is a standard to strong pass.
      </p>

      <p class="govuk-body">
        This score is 5 points lower than the local authority average.
        This means pupils at this school perform below other schools locally.
      </p>

      <p class="govuk-body">
        The score is 5 points higher than the national average.
        This means pupils perform better than the national average.
      </p>

    </div>
</div>
{% endblock %}