{% extends "layouts/main.html" %} {% block pageTitle %} Admissions {% endblock
%}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/side-nav.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">Oak Nest Secondary School</span>
    <h1 class="govuk-heading-xl">Admissions</h1>
    <h2 class="govuk-heading-l">Moving from primary to secondary school</h2>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">
          Starting secondary school in September 2027
        </h3>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">
          If your child is in year 5, they will be due to start secondary school
          in September 2027. You must apply for your child to get a place at
          secondary school.
        </p>
        <p class="govuk-body">
          The application window for starting secondary school in September 2027
          will open in summer 2026. You’ll need to apply for a place by 31
          October 2026. You can do this by following your local council’s
          secondary school application process.
        </p>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Admissions policies</dt>
            <dd class="govuk-summary-list__value">
              <a href="#" class="govuk-link govuk-link--no-visited-state"
                >View the school website for more information on admissions
                policies</a
              >
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Applying for a school place</dt>
            <dd class="govuk-summary-list__value">
              <td class="govuk-table__cell">
                <a href="#" class="govuk-link govuk-link--no-visited-state"
                  >Visit the local council's website for more information on
                  applying for a school place</a
                >
              </td>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <h3 class="govuk-heading-m">Starting secondary school in September 2026</h3>
    <p class="govuk-body">
      If your child is in year 6, they’ll start secondary school in September
      2026. Applications for starting secondary school in September 2026 closed
      on 31 October 2025.
    </p>
    <p class="govuk-body">
      If you missed the application deadline, you can still apply for a school
      place. You can do this by following your local council’s secondary school
      application process.
    </p>
    <p class="govuk-body">
      If you apply for a school place after the deadline for applications, your
      child may be less likely to be offered a place at your preferred school.
    </p>
    <h3 class="govuk-heading-m">Starting secondary school in September 2028</h3>
    <p class="govuk-body">
      If your child is in year 4, they will be due to start secondary school in
      September 2028. The application window for starting secondary school in
      September 2028 will open in summer 2027. You’ll need to apply for a place
      by 31 October 2027.
    </p>
    <p class="govuk-body">
      Schools must publish their policies for starting school in September 2028
      by March 2027.
    </p>

    <h2 class="govuk-heading-l">Moving schools during the school year</h2>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">
          Moving schools during the school year
        </h3>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">
          If your child is joining a school after the school year has started in
          September, you’ll need to make an in-year application.
        </p>
        <p class="govuk-body">
          Depending on the school you’re applying for, you’ll either need to: 
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>make an in-year application through your local council </li>
          <li>apply directly to the school </li>
        </ul>
        <p class="govuk-body">
          You can find information on which schools you’ll need to apply
          directly to on your local council’s website.  
        </p>
        <p class="govuk-body">
          <a href="#" class="govuk-link govuk-link--no-visited-state"
            >View Sheffield City Council’s in-year application process. </a
          >
        </p>
      </div>
    </div>

    <hr
      class="govuk-section-break govuk-section-break--l govuk-section-break--visible"
    />

    <h2 class="govuk-heading-l">
      More information on secondary school admissions
    </h2>

    <div
      class="govuk-accordion"
      data-module="govuk-accordion"
      id="more-info-schools"
    >
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h3 class="govuk-accordion__section-heading">
            <span
              class="govuk-accordion__section-button"
              id="more-info-school-admissions-policies-header"
            >
              Find out more about school admissions policies
            </span>
          </h3>
        </div>

        <div
          id="more-info-school-admissions-policies-content"
          class="govuk-accordion__section-content"
        >
          <p class="govuk-body">
            All schools have admissions policies that explain how school places
            are allocated. These policies are either set by the local council or
            the school.  
          </p>
          <p class="govuk-body">
            Admissions policies are different for every school. As part of their
            admissions policies, some schools may give priority to children who
            live in a designated catchment area, but they do not have to.   
          </p>
          <p class="govuk-body">
            Schools do not have to have catchment areas. Some schools mayuse
            distance from the school instead.  
          </p>
          <p class="govuk-body">
            <a href="#" class="govuk-link govuk-link--no-visited-state">
              Find out more about school admission criteria.  </a
            >
          </p>
          <p class="govuk-body">
            Further details about Oak Nest Secondary School’s admissions
            policies can be found on the school’s website or on the council’s
            website.  
          </p>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h3 class="govuk-accordion__section-heading">
            <span
              class="govuk-accordion__section-button"
              id="further-info-schools-ask-header"
            >
              Further information schools may ask for 
            </span>
          </h3>
        </div>
        <div
          id="further-info-schools-ask-content"
          class="govuk-accordion__section-content"
        >
          <p class="govuk-body">
            Some schools, for example faith schools, may require a Supplementary
            Information Form (SIF) to be submitted as part of the school
            application process. SIFs request additional information and are
            used to determine whether a child meets the school’s admission
            criteria.    
          </p>
          <p class="govuk-body">
            Some types of schools, for example grammar schools or partially
            selective schools, require children to take a test after making an
            application to help decide which children get places. For example,
            this could be a music aptitude test. Grammar schools may require
            children to take a selection test. The school’s admission
            arrangements should explain what is required.  
          </p>
        </div>
      </div>
    </div>
    <nav
      class="govuk-pagination govuk-pagination--block"
      aria-label="Pagination"
    >
      <div class="govuk-pagination__prev">
        <a
          class="govuk-link govuk-pagination__link"
          href="about-the-school"
          rel="prev"
        >
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--prev"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
          >
            <path
              d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"
            ></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Previous<span class="govuk-visually-hidden"> page</span>
          </span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label">About the school</span>
        </a>
      </div>
      <div class="govuk-pagination__next">
        <a
          class="govuk-link govuk-pagination__link"
          href="curriculum-extra-curricular"
          rel="next"
        >
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--next"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
          >
            <path
              d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"
            ></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> page</span>
          </span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label"
            >Curriculum and extra-curricular activities</span
          >
        </a>
      </div>
    </nav>
  </div>
</div>

{% endblock %}
