{% extends "layouts/main.html" %} {% block pageTitle %} Destinations {%
endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/side-nav.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">Oak Nest Secondary School</span>
    <h1 class="govuk-heading-xl">Destinations</h1>
    <p class="govuk-body">
      Looking at school performance data is one way to see how well a school is
      doing. You should look at a range of information about a school before
      deciding if it’s the right fit for your child.
    </p>
    <h2 class="govuk-heading-xl">
      Destinations of pupils who finished year 11 in the 2021 to 2022 academic
      year
    </h2>
    <div class="sp-card-graph">
      <h3 class="govuk-heading-m">
        Staying in education, employment and apprenticeships
      </h3>
      <p body="govuk-body">
        This shows the percentage of pupils who either stayed in education, went
        into an apprenticeship or entered employment for at least 6 months after
        finishing key stage 4 (KS4). Pupils usually finish KS4 after year 11,
        when they are 16.
      </p>

      <div id="destinations" class="chart"></div>
      <button
        type="submit"
        class="govuk-button govuk-button--secondary"
        data-module="govuk-button"
      >
        Show as a table
      </button>
      <button
        type="submit"
        class="govuk-button govuk-button--secondary"
        data-module="govuk-button"
      >
        Show data over time
      </button>
    </div>
    <div class="sp-card-graph">
      <h3 class="govuk-heading-m">
        Breakdown by destination for staying in education, employment and
        apprenticeships
      </h3>
      <p body="govuk-body">
        This shows the breakdown of percentage of pupils who either stayed in
        education, went into an apprenticeship or entered employment for at
        least 6 months after finishing key stage 4 (KS4). Pupils usually finish
        KS4 after year 11, when they are 16.
      </p>
      <p body="govuk-body">
        Education includes school sixth forms, sixth-form colleges, further
        education colleges and other education settings.
      </p>

      <div id="destinations-breakdown" class="destinations-cluster"></div>
      <button
        type="submit"
        class="govuk-button govuk-button--secondary"
        data-module="govuk-button"
      >
        Show as a table
      </button>
    </div>
    <nav
      class="govuk-pagination govuk-pagination--block"
      aria-label="Pagination"
    >
      <div class="govuk-pagination__prev">
        <a
          class="govuk-link govuk-pagination__link"
          href="academic-performance/subjects-entered"
          rel="prev"
        >
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--prev"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
          >
            <path
              d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"
            ></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Previous<span class="govuk-visually-hidden"> page</span>
          </span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label"
            >Academic performance: Subjects entered</span
          >
        </a>
      </div>
    </nav>
  </div>
</div>

{% endblock %} {% block pageScripts %}

<!-- Load your local chart code (file in app/assets/javascripts) -->
<script src="/public/javascripts/google-charts.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<!-- Initialise the chart -->
<script>
  google.charts.load("current", { packages: ["corechart"] });
  google.charts.setOnLoadCallback(window.drawGoogleChart);
</script>

{% endblock %}
