{% extends "layouts/main.html" %} {% block pageTitle %} About your schools:
School information {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <nav class="moj-side-navigation" aria-label="Side navigation">
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item moj-side-navigation__item--active">
          <a href="/comparison/profile/about-your-schools/your-chosen-schools" aria-current="location"
            >About your schools</a
          >
        </li>
        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/policies-pupil-support/pastoral-care">Policies and pupil support</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="">Pupil experience in schools</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="">Outcomes and performance</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="">Next steps and admissions</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">Comparing your schools</span>
    <h1 class="govuk-heading-xl">About your schools</h1>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="your-chosen-schools"
            >Your chosen schools</a
          >
        </li>
        <li class="moj-sub-navigation__item">
          <a
            class="moj-sub-navigation__link"
            aria-current="page"
            href="school-information"
            >School information</a
          >
        </li>
      </ul>
    </nav>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">
        Location
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">School</th>
          <th scope="col" class="govuk-table__header">Address</th>
          <th scope="col" class="govuk-table__header">Local council</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Bracken Cove Academy</th>
          <td class="govuk-table__cell">
            Scenic Crescent, Sheffield, South Yorkshire, S3 5US
          </td>
          <td class="govuk-table__cell">
            Sheffield<br />
            <a href="#" class="govuk-link govuk-link--no-visited-state"
              >View Sheffield City Council's website</a
            >
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Oak Nest Secondary School
          </th>
          <td class="govuk-table__cell">
            Sapling Street, Sheffield, South Yorkshire, S1 2AB
          </td>
          <td class="govuk-table__cell">
            Sheffield<br />
            <a href="#" class="govuk-link govuk-link--no-visited-state"
              >View Sheffield City Council's website</a
            >
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Thomas Lane Secondary School
          </th>
          <td class="govuk-table__cell">
            Manor Lane, Sheffield, South Yorkshire, S1 2GS
          </td>
          <td class="govuk-table__cell">
            Sheffield<br />
            <a href="#" class="govuk-link govuk-link--no-visited-state"
              >View Sheffield City Council's website</a
            >
          </td>
        </tr>
      </tbody>
    </table>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View this information on a map
        </span>
      </summary>
      <div class="govuk-details__text">Map :)</div>
    </details>

    <h2 class="govuk-heading-l">School features</h2>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">
        School population
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">School</th>
          <th scope="col" class="govuk-table__header">Number of pupils</th>
          <th scope="col" class="govuk-table__header">Age range</th>
          <th scope="col" class="govuk-table__header">Pupil sex</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Bracken Cove Academy</th>
          <td class="govuk-table__cell">765</td>
          <td class="govuk-table__cell">11 to 18</td>
          <td class="govuk-table__cell">Mixed</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Oak Nest Secondary School
          </th>
          <td class="govuk-table__cell">1,230</td>
          <td class="govuk-table__cell">11 to 18</td>
          <td class="govuk-table__cell">Mixed</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Thomas Lane Secondary School
          </th>
          <td class="govuk-table__cell">2,100</td>
          <td class="govuk-table__cell">11 to 16</td>
          <td class="govuk-table__cell">Mixed</td>
        </tr>
      </tbody>
    </table>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">Further information</h3>
      </div>

      <div class="govuk-summary-card__content">
        <h3 class="govuk-heading-m">Bracken Cove Academy</h3>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">School Profile</th>
              <td class="govuk-table__cell">
                <a href="#" class="govuk-link govuk-link--no-visited-state"
                  >View Bracken Cove Academy's School Profile</a
                >
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Academy Trust</th>
              <td class="govuk-table__cell">
                <a href="#" class="govuk-link govuk-link--no-visited-state"
                  >View the latest Ofsted report</a
                >
                <br />
                <span class="govuk-hint">Inspected on 03 March 2019</span>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Website</th>
              <td class="govuk-table__cell">
                <a href="#" class="govuk-link govuk-link--no-visited-state"
                  >View Bracken Cove Academy's website</a
                >
              </td>
            </tr>
          </tbody>
        </table>
        <h3 class="govuk-heading-m">Oak Nest Secondary School</h3>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">School Profile</th>
              <td class="govuk-table__cell">
                <a href="#" class="govuk-link govuk-link--no-visited-state"
                  >View Oak Nest Secondary School's School Profile</a
                >
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Academy Trust</th>
              <td class="govuk-table__cell">
                <a href="#" class="govuk-link govuk-link--no-visited-state"
                  >View the latest Ofsted report</a
                >
                <br />
                <span class="govuk-hint">Inspected on 22 May 2023</span>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Website</th>
              <td class="govuk-table__cell">
                <a href="#" class="govuk-link govuk-link--no-visited-state"
                  >View Oak Nest Secondary School's website</a
                >
              </td>
            </tr>
          </tbody>
        </table>
        <h3 class="govuk-heading-m">Thomas Lane Secondary School</h3>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">School Profile</th>
              <td class="govuk-table__cell">
                <a href="#" class="govuk-link govuk-link--no-visited-state"
                  >View Thomas Lane Secondary School's School Profile</a
                >
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Academy Trust</th>
              <td class="govuk-table__cell">
                <a href="#" class="govuk-link govuk-link--no-visited-state"
                  >View the latest Ofsted report</a
                >
                <br />
                <span class="govuk-hint">Inspected on 06 January 2022</span>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Website</th>
              <td class="govuk-table__cell">
                <a href="#" class="govuk-link govuk-link--no-visited-state"
                  >View Thomas Lane Secondary School's website</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <nav
      class="govuk-pagination govuk-pagination--block"
      aria-label="Pagination"
    >
      <div class="govuk-pagination__prev">
        <a
          class="govuk-link govuk-pagination__link"
          href="your-chosen-schools"
          rel="prev"
        >
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--prev"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
          >
            <path
              d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"
            ></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Previous<span class="govuk-visually-hidden"> page</span>
          </span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label"
            >About your schools: Your chosen schools</span
          >
        </a>
      </div>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next">
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--next"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
          >
            <path
              d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"
            ></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> page</span>
          </span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label"
            >Driver CPC part 1 test: theory</span
          >
        </a>
      </div>
    </nav>
  </div>
</div>

{% endblock %}
