{% extends "layouts/main.html" %} {% block pageTitle %} About your schools:
School overview {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <nav class="moj-side-navigation" aria-label="Side navigation">
      <ul class="moj-side-navigation__list">
        <li
          class="moj-side-navigation__item moj-side-navigation__item--active"
          aria-current="location"
        >
          <a href="/comparison/profile/about-your-schools/school-overview"
            >About your schools</a
          >
        </li>
        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/supporting-pupils/supporting-all-pupils"
            >Policies and pupil support</a
          >
        </li>
        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/attendance">Attendance</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/curriculum">Curriculum</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/academic-performance/progress-attainment"
            >Academic performance</a
          >
        </li>
        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/after-year-11"
            >Destinations after year 11</a
          >
        </li>

        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/next-steps">Next steps</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">Comparing your schools</span>
    <h1 class="govuk-heading-xl">About your schools</h1>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a
            class="moj-sub-navigation__link"
            aria-current="page"
            href="school-overview"
            >School overview</a
          >
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="school-details"
            >School details</a
          >
        </li>
      </ul>
    </nav>

    <p class="govuk-body">
      You have selected 3 schools to compare. You can select more schools
      through the
      <a href="#" class="disabled-link govuk-link govuk-link--no-visited-state"
        >search feature</a
      >.
    </p>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper summary-card__with-link">
        <h3 class="govuk-summary-card__title">Bracken Cove Academy</h3>
        <a
          href="#"
          class="disabled-link govuk-body govuk-link govuk-link--no-visited-state"
          >Remove from your list</a
        >
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Address</th>
              <td class="govuk-table__cell">
                Scenic Crescent, Sheffield, South Yorkshire, S3 5US
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Phase of education
              </th>
              <td class="govuk-table__cell">Secondary</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Type of school</th>
              <td class="govuk-table__cell">Academy</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Academy Trust</th>
              <td class="govuk-table__cell">
                Sheffield Enterprise Trust<br />
                <span class="govuk-hint">(updated in 2020)</span>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Religious character
              </th>
              <td class="govuk-table__cell">Not applicable</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Actions</th>
              <td class="govuk-table__cell">
                <a
                  href="#"
                  class="disabled-link govuk-link govuk-link--no-visited-state"
                  >Remove from your list</a
                >
                or
                <a
                  href="#"
                  class="disabled-link govuk-link govuk-link--no-visited-state"
                  >view School Profile</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper summary-card__with-link">
        <h3 class="govuk-summary-card__title">Oak Nest Secondary School</h3>
        <a
          href="#"
          class="disabled-link govuk-body govuk-link govuk-link--no-visited-state"
          >Remove from your list</a
        >
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Address</th>
              <td class="govuk-table__cell">
                Sapling Street, Sheffield, South Yorkshire, S1 2AB
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Phase of education
              </th>
              <td class="govuk-table__cell">Secondary</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Type of school</th>
              <td class="govuk-table__cell">Academy</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Academy Trust</th>
              <td class="govuk-table__cell">
                Woodland Trust Partnership<br />
                <span class="govuk-hint">(updated in 2020)</span>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Religious character
              </th>
              <td class="govuk-table__cell">Church of England</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Actions</th>
              <td class="govuk-table__cell">
                <a
                  href="#"
                  class="disabled-link govuk-link govuk-link--no-visited-state"
                  >Remove from your list</a
                >
                or
                <a
                  href="#"
                  class="disabled-link govuk-link govuk-link--no-visited-state"
                  >view School Profile</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper summary-card__with-link">
        <h3 class="govuk-summary-card__title">Thomas Lane Secondary School</h3>
        <a
          href="#"
          class="disabled-link govuk-body govuk-link govuk-link--no-visited-state"
          >Remove from your list</a
        >
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Address</th>
              <td class="govuk-table__cell">
                Manor Lane, Sheffield, South Yorkshire, S1 2GS
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Phase of education
              </th>
              <td class="govuk-table__cell">Secondary</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Type of school</th>
              <td class="govuk-table__cell">Maintained</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Religious character
              </th>
              <td class="govuk-table__cell">Not applicable</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Actions</th>
              <td class="govuk-table__cell">
                <a
                  href="#"
                  class="disabled-link govuk-link govuk-link--no-visited-state"
                  >Remove from your list</a
                >
                or
                <a
                  href="#"
                  class="disabled-link govuk-link govuk-link--no-visited-state"
                  >view School Profile</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <nav
      class="govuk-pagination govuk-pagination--block"
      aria-label="Pagination"
    >
      <div class="govuk-pagination__next">
        <a
          class="govuk-link govuk-pagination__link"
          href="school-details"
          rel="next"
        >
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--next"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
          >
            <path
              d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"
            ></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> page</span>
          </span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label"
            >About your schools: School details</span
          >
        </a>
      </div>
    </nav>
  </div>
</div>

{% endblock %}