{% extends "layouts/main.html" %}

{% block pageTitle %}
  Secondary schools and colleges – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Compare secondary schools and colleges in England
    </h1>

    <p class="govuk-body govuk-!-margin-bottom-6">
      Compare schools by performance measures such as overall performance, English and Maths GCSEs, or Attainment 8, and refine by pupil characteristic such as sex.
    </p>

    <h2 class="govuk-heading-m">
      Choose how to compare schools
    </h2>

    {% from "govuk/components/select/macro.njk" import govukSelect %}

    {{ govukSelect({
      id: "performance-measure",
      name: "performanceMeasure",
      label: {
        text: "Performance measure"
      },
      items: [
        { value: "overall", text: "Overall performance" },
        { value: "english-maths", text: "English and maths GCSEs", selected: true },
        { value: "qualification", text: "At least one qualification" },
        { value: "destinations", text: "Pupil destinations after Key Stage 4" }
      ]
    }) }}

    <h2 class="govuk-heading-m">
      Narrow down by pupil characteristic
    </h2>

    {{ govukSelect({
      id: "pupil-characteristic",
      name: "pupilCharacteristic",
      label: {
        text: "Pupil characteristic"
      },
      items: [
        { value: "all", text: "All pupils" },
        { value: "girls", text: "Girls" },
        { value: "boys", text: "Boys", selected: true },
        { value: "disadvantaged", text: "Disadvantaged" },
        { value: "eal", text: "English as a foreign language" }
      ]
    }) }}

    <div class="moj-filter" data-module="moj-filter">
      <div class="moj-filter__header">
        <div class="moj-filter__header-title">
          <h2 class="govuk-heading-m">Filter the results</h2>
        </div>
        <div class="moj-filter__header-action"></div>
      </div>

      <div class="moj-filter__content">
        <div class="moj-filter__selected">
          <div class="moj-filter__selected-heading">
            <div class="moj-filter__heading-title">
              <h2 class="govuk-heading-m">Selected filters</h2>
            </div>
            <div class="moj-filter__heading-action">
              <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
            </div>
          </div>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Type of school</h3>
          <ul class="moj-filter-tags">
            <li>
              <a class="moj-filter__tag" href="#">
                <span class="govuk-visually-hidden">Remove this filter</span>
                Academy
              </a>
            </li>
          </ul>
        </div>

        <div class="moj-filter__options">
          <h2 class="govuk-heading-m">Filter by</h2>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">Type of school</span>
            </summary>
            <div class="govuk-details__text">
              <div class="govuk-checkboxes govuk-checkboxes--small">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-academy" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="type-academy">Academy</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-maintained" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="type-maintained">Maintained school</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-independent" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="type-independent">Independent school</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-special" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="type-special">Special school</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-college" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="type-college">College</label>
                </div>
              </div>
            </div>
          </details>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">Pupil characteristics</span>
            </summary>
            <div class="govuk-details__text">
              <div class="govuk-checkboxes govuk-checkboxes--small">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="pupil-boys" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="pupil-boys">Boys</label>
                </div>
                <div class="govuk-checkboxes__item ">
                  <input class="govuk-checkboxes__input" id="pupil-girls" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="pupil-girls">Girls</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="pupil-disadvantaged" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="pupil-disadvantaged">Disadvantaged pupils</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="pupil-eal" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="pupil-eal">English as an additional language</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="pupil-eal" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="pupil-eal">Non-mobile pupils</label>
                </div>
              </div>
            </div>
          </details>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">Religious character</span>
            </summary>
            <div class="govuk-details__text">
              <div class="govuk-checkboxes govuk-checkboxes--small">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-anglican" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-anglican">Anglican</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-catholic" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-catholic">Catholic</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-anglican" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-anglican">Christian</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-catholic" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-catholic">Church of England</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-anglican" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-anglican">Hindu</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-catholic" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-catholic">Islam</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-catholic" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-catholic">Jewish</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-none" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-none">No religious character</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-none" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-none">Other</label>
                </div>
              </div>
            </div>
          </details>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">Data available</span>
            </summary>
            <div class="govuk-details__text">
              <div class="govuk-checkboxes govuk-checkboxes--small">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-none" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-none">Exclude schools or colleges with no data</label>
                </div>
              </div>
            </div>
          </details>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">Single sex or mixed school</span>
            </summary>
            <div class="govuk-details__text">
              <div class="govuk-checkboxes govuk-checkboxes--small">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-anglican" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-anglican">Boys</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-catholic" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-catholic">Girls</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-none" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-none">Mixed</label>
                </div>
              </div>
            </div>
          </details>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Apply filters
          </button>
        </div>
      </div>
    </div>

    {% from "govuk/components/table/macro.njk" import govukTable %}

    <div class="govuk-!-margin-top-6">
      {{ govukTable({
        attributes: {
          "data-module": "moj-sortable-table"
        },
        caption: "Comparing schools by overall performance for all pupils",
        captionClasses: "govuk-heading-m govuk-!-margin-bottom-4",
        head: [
          { text: "School name", attributes: { "aria-sort": "ascending" } },
          { text: "Type of school", attributes: { "aria-sort": "none" } },
          { text: "Number of pupils at end of key stage 4", format: "numeric", attributes: { "aria-sort": "none" } },
          { text: "Attainment 8 score", format: "numeric", attributes: { "aria-sort": "none" } },
          { text: "Grade 5 or above in English & maths GCSEs", format: "numeric", attributes: { "aria-sort": "none" } }
        ],
        rows: [
          [
            { text: "Springfield High School" },
            { text: "Academy" },
            { text: "180", format: "numeric", attributes: { "data-sort-value": "180" } },
            { text: "52.3", format: "numeric", attributes: { "data-sort-value": "52.3" } },
            { text: "48%", format: "numeric", attributes: { "data-sort-value": "48" } }
          ],
          [
            { text: "Riverside College" },
            { text: "College" },
            { text: "220", format: "numeric", attributes: { "data-sort-value": "220" } },
            { text: "58.7", format: "numeric", attributes: { "data-sort-value": "58.7" } },
            { text: "55%", format: "numeric", attributes: { "data-sort-value": "55" } }
          ]
        ]
      }) }}
    </div>

  </div>
</div>

{% endblock %}