{% extends "layouts/main.html" %} {% block pageTitle %} Policies and pupil
support: Other policies {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <nav class="moj-side-navigation" aria-label="Side navigation">
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/about-your-schools/school-overview"
            >About your schools</a
          >
        </li>
        <li
          class="moj-side-navigation__item moj-side-navigation__item--active"
          aria-current="location"
        >
          <a href="/comparison/profile/supporting-pupils/supporting-all-pupils"
            >Policies and pupil support</a
          >
        </li>
        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/attendance">Attendance</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/curriculum">Curriculum</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/academic-performance/progress-attainment"
            >Academic performance</a
          >
        </li>
        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/after-year-11"
            >Destinations after year 11</a
          >
        </li>

        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/next-steps">Next steps</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">Comparing your schools</span>
    <h1 class="govuk-heading-xl">Policies and pupil support</h1>
    <p class="govuk-body">
      School policies explain the school’s values and what it is responsible
      for. They also set out what the school expects from pupils and families.
    </p>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="supporting-all-pupils"
            >Supporting all pupils</a
          >
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="supporting-additional-needs"
            >Supporting additional needs</a
          >
        </li>
        <li class="moj-sub-navigation__item">
          <a
            class="moj-sub-navigation__link"
            aria-current="page"
            href="other-policies"
            >Other policies</a
          >
        </li>
      </ul>
    </nav>

    <p class="govuk-body">
      All schools in England must publish statutory policies and documents that
      explain how the school is run and how staff and pupils should behave.
      Statutory policies and documents must be published on the school’s
      website. Schools can also create their own guidelines.
    </p>
    <h2 class="govuk-heading-l">Other required school policies</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="width: 30%">
            Policy
          </th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Accessibility plan</th>
          <td class="govuk-table__cell">
            Includes how to increase curriculum participation, improve the
            physical environment, and make information more accessible for
            pupils with disabilities.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Charging and remissions policy
          </th>
          <td class="govuk-table__cell">
            Schools may charge for certain activities such as school trips or
            music tuition. This policy covers what the school charges for and
            when these charges can be reduced or waived.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Complaints policy</th>
          <td class="govuk-table__cell">
            A complaints policy shows how parents or carers can raise concerns
            with a school and how to make a complaint.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Safeguarding policy</th>
          <td class="govuk-table__cell">
            Outlines how the school protects pupils from harm, ensuring their
            safety and well-being.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">School uniform policy</th>
          <td class="govuk-table__cell">
            Outlines to parents and carers what pupils are expected to wear and
            what the exceptions are.
          </td>
        </tr>
      </tbody>
    </table>
    <h3 class="govuk-heading-m">View these policies on the school websites</h3>

    <div class="sp-card">
      <div class="sp-card__content">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width: 30%">
                School
              </th>
              <th scope="col" class="govuk-table__header">Policy</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Bracken Cove Academy
              </th>
              <td class="govuk-table__cell">
                <a
                  href="/school-websites/bracken-cove"
                  class="govuk-link govuk-link--no-visited-state"
                  >View Bracken Cove Academy's website to view their other
                  policies</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Oak Nest Secondary School
              </th>
              <td class="govuk-table__cell">
                <a
                  href="/school-websites/oak-nest"
                  class="govuk-link govuk-link--no-visited-state"
                  >View Oak Nest Secondary School's website to view their other
                  policies</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Thomas Lane Secondary School
              </th>
              <td class="govuk-table__cell">
                <a
                  href="/school-websites/thomas-lane"
                  class="govuk-link govuk-link--no-visited-state"
                  >View Thomas Lane Secondary School's website to view their
                  other policies</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <nav
      class="govuk-pagination govuk-pagination--block"
      aria-label="Pagination"
    >
      <div class="govuk-pagination__prev">
        <a
          class="govuk-link govuk-pagination__link"
          href="supporting-additional-needs"
          rel="prev"
        >
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--prev"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
          >
            <path
              d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"
            ></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Previous<span class="govuk-visually-hidden"> page</span>
          </span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label"
            >Policies and pupil support: Supporting additional needs</span
          >
        </a>
      </div>
      <div class="govuk-pagination__next">
        <a
          class="govuk-link govuk-pagination__link"
          href="/comparison/profile/attendance"
          rel="next"
        >
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--next"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
          >
            <path
              d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"
            ></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> page</span>
          </span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label">Attendance</span>
        </a>
      </div>
    </nav>
  </div>
</div>

{% endblock %}