{% extends "layouts/main.html" %} {% block pageTitle %} Policies and pupil
support: Supporting additional needs {% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <nav class="moj-side-navigation" aria-label="Side navigation">
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/about-your-schools/school-overview"
            >About your schools</a
          >
        </li>
        <li
          class="moj-side-navigation__item moj-side-navigation__item--active"
          aria-current="location"
        >
          <a href="/comparison/profile/supporting-pupils/supporting-all-pupils"
            >Policies and pupil support</a
          >
        </li>
        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/attendance">Attendance</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/curriculum">Curriculum</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/academic-performance/progress-attainment"
            >Academic performance</a
          >
        </li>
        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/after-year-11"
            >Destinations after year 11</a
          >
        </li>

        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/next-steps">Next steps</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">Comparing your schools</span>
    <h1 class="govuk-heading-xl">Policies and pupil support</h1>
    <p class="govuk-body">
      School policies explain the school’s values and what it is responsible
      for. They also set out what the school expects from pupils and families.
    </p>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="supporting-all-pupils"
            >Supporting all pupils</a
          >
        </li>
        <li class="moj-sub-navigation__item">
          <a
            class="moj-sub-navigation__link"
            aria-current="page"
            href="supporting-additional-needs"
            >Supporting additional needs</a
          >
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="other-policies"
            >Other policies</a
          >
        </li>
      </ul>
    </nav>

    <h2 class="govuk-heading-l">
      Support for pupils with special educational needs and disabilities (SEND)
    </h2>
    <p class="govuk-body">
      All schools in England must support children with special educational
      needs and disabilities (SEND).
    </p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> What is SEN and SEND? </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">
          SEND stands for special educational needs and disabilities.
        </p>
        <p class="govuk-body">
          Special educational needs (SEN) are learning difficulties or
          disabilities that mean a pupil needs extra or different support from
          pupils the same age.
        </p>
        <p class="govuk-body">SEN are grouped into four broad areas:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            communication and interaction – difficulties with speaking,
            understanding others or social communication
          </li>
          <li>
            cognition and learning – learning at a slower pace than pupils of a
            similar age
          </li>
          <li>
            social, emotional and mental health – including anxiety, depression
            or attention difficulties
          </li>
          <li>
            sensory and/or physical needs – disabilities that make it harder to
            access learning or school facilities
          </li>
        </ul>
      </div>
    </details>
    <p class="govuk-body">
      Children will receive support at school without an education, health and
      care (EHC) plan. This support includes identifying needs early and making
      reasonable adjustments. <br />
      <a href="#" class="disabled-link govuk-link govuk-link--no-visited-state"
        >Find out more about EHC plans</a
      >.
    </p>
    <h3 class="govuk-heading-m">Specialist provision offered</h3>
    <p class="govuk-body">
      In special educational needs (SEN) units pupils are taught within separate
      classes for at least half of their time. In resourced provisions pupils
      are taught within mainstream classes for at least half of their time, but
      have access to a base and specialist facilities around the school.
    </p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"
          >What is a SEN unit or a resourced provision?</span
        >
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">
          SEN (special educational needs) units and resourced provisions are
          specialist provisions in mainstream schools formally recognised by the
          local authority.
        </p>
        <p class="govuk-body">
          In SEN units pupils are taught within separate classes for at least
          half of their time.
        </p>
        <p class="govuk-body">
          In resourced provisions pupils are taught within mainstream classes
          for at least half of their time, but have access to a base and
          specialist facilities around the school.
        </p>
        <p class="govuk-body">
          They are both for pupils with SEN, who typically have education,
          health, and care (EHC) plans.
        </p>
      </div>
    </details>
    <div class="sp-card">
      <div class="sp-card__content">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width: 40%">
                School
              </th>
              <th scope="col" class="govuk-table__header" style="width: 30%">
                SEN unit
              </th>
              <th scope="col" class="govuk-table__header" style="width: 30%">
                Resourced provision
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Bracken Cove Academy
              </th>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Oak Nest Secondary School
              </th>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Thomas Lane Secondary School
              </th>

              <td class="govuk-table__cell">Not recorded</td>
              <td class="govuk-table__cell">Not recorded</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <h3 class="govuk-heading-m">School SEND documents</h3>
    <p class="govuk-body">
      Schools publish documents that you can read to compare their approach to
      pupils with SEND.
    </p>
    <p class="govuk-body">
      Schools must publish a SEND information report and a SEND policy on their
      website.
    </p>
    <div
      class="govuk-accordion"
      data-module="govuk-accordion"
      id="sen-policies-accordion"
    >
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h4 class="govuk-accordion__section-heading">
            <span
              class="govuk-accordion__section-button"
              id="accordion-with-summary-sections-heading-1"
            >
              Find out more about SEND information reports
            </span>
          </h4>
          <div
            class="govuk-accordion__section-summary govuk-body"
            id="accordion-with-summary-sections-summary-1"
          >
            This will outline how a school identifies, supports and monitors
            pupils with SEND.
          </div>
        </div>
        <div
          id="accordion-with-summary-sections-content-1"
          class="govuk-accordion__section-content"
        >
          <p class="govuk-body">A SEND information report includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the types of SEND provided for</li>
            <li>how the school identifies SEND</li>
            <li>how parents are involved in SEND reviews</li>
            <li>
              how the school supports pupils emotional and social development
            </li>
          </ul>
          <div class="sp-card">
            <div class="sp-card__content">
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th
                      scope="col"
                      class="govuk-table__header"
                      style="width: 30%"
                    >
                      School
                    </th>
                    <th scope="col" class="govuk-table__header">Policy</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                      Bracken Cove Academy
                    </th>
                    <td class="govuk-table__cell">
                      <a
                        href="/school-websites/bracken-cove"
                        class="govuk-link govuk-link--no-visited-state"
                        >View Bracken Cove Academy's website to view their SEND
                        information report</a
                      >
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                      Oak Nest Secondary School
                    </th>
                    <td class="govuk-table__cell">
                      <a
                        href="/school-websites/oak-nest"
                        class="govuk-link govuk-link--no-visited-state"
                        >View Oak Nest Secondary School's website to view their
                        SEND information report</a
                      >
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                      Thomas Lane Secondary School
                    </th>
                    <td class="govuk-table__cell">
                      <a
                        href="/school-websites/thomas-lane"
                        class="govuk-link govuk-link--no-visited-state"
                        >View Thomas Lane Secondary School's website to view
                        their SEND information report</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h4 class="govuk-accordion__section-heading">
            <span
              class="govuk-accordion__section-button"
              id="accordion-with-summary-sections-heading-2"
            >
              Find out more about SEND policies
            </span>
          </h4>
          <div
            class="govuk-accordion__section-summary govuk-body"
            id="accordion-with-summary-sections-summary-2"
          >
            A SEND policy explains the school's overall approach, values and
            responsibilities for supporting pupils with SEND.
          </div>
        </div>
        <div
          id="accordion-with-summary-sections-content-2"
          class="govuk-accordion__section-content"
        >
          <p class="govuk-body">A school's SEND policy may include:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the school's vision and aim for SEND provision</li>
            <li>who is responsible for SEND provision</li>
            <li>
              what training and development staff have to support pupils with
              SEND
            </li>
          </ul>
          <div class="sp-card">
            <div class="sp-card__content">
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th
                      scope="col"
                      class="govuk-table__header"
                      style="width: 30%"
                    >
                      School
                    </th>
                    <th scope="col" class="govuk-table__header">Policy</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                      Bracken Cove Academy
                    </th>
                    <td class="govuk-table__cell">
                      <a
                        href="/school-websites/bracken-cove"
                        class="govuk-link govuk-link--no-visited-state"
                        >View Bracken Cove Academy's website to view their SEND
                        policy</a
                      >
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                      Oak Nest Secondary School
                    </th>
                    <td class="govuk-table__cell">
                      <a
                        href="/school-websites/oak-nest"
                        class="govuk-link govuk-link--no-visited-state"
                        >View Oak Nest Secondary School's website to view their
                        SEND policy</a
                      >
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                      Thomas Lane Secondary School
                    </th>
                    <td class="govuk-table__cell">
                      <a
                        href="/school-websites/thomas-lane"
                        class="govuk-link govuk-link--no-visited-state"
                        >View Thomas Lane Secondary School's website to view
                        their SEND policy</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="comparison-prompts">
      <div class="comparison-prompts__icon material-symbols-outlined">quiz</div>
      <h3 class="govuk-heading-m">
        What you could ask schools about SEND support
      </h3>
    </div>
    <p class="govuk-body">
      When researching, contacting or visiting a school, you may want to ask:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>what level of support is available for pupils with SEND?</li>
      <li>what facilities does the school have to support pupils with SEND?</li>
      <li>how accessible is the school site?</li>
      <li>what classroom support is available for pupils with SEND?</li>
      <li>
        what the school vision for SEND is and when they hope to achieve it?
      </li>
      <li>
        how is the behaviour policy adapted for pupils with SEND or additional
        needs?
      </li>
    </ul>

    <nav
      class="govuk-pagination govuk-pagination--block"
      aria-label="Pagination"
    >
      <div class="govuk-pagination__prev">
        <a
          class="govuk-link govuk-pagination__link"
          href="supporting-all-pupils"
          rel="prev"
        >
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--prev"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
          >
            <path
              d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"
            ></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Previous<span class="govuk-visually-hidden"> page</span>
          </span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label"
            >Policies and pupil support: Supporting all pupils</span
          >
        </a>
      </div>
      <div class="govuk-pagination__next">
        <a
          class="govuk-link govuk-pagination__link"
          href="other-policies"
          rel="next"
        >
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--next"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
          >
            <path
              d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"
            ></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> page</span>
          </span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label"
            >Policies and pupil support: Other policies</span
          >
        </a>
      </div>
    </nav>
  </div>
</div>

{% endblock %}