{% extends "layouts/main.html" %} {% block pageTitle %} Policies and pupil
support: Supporting all pupils {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <nav class="moj-side-navigation" aria-label="Side navigation">
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/about-your-schools/school-overview"
            >About your schools</a
          >
        </li>
        <li
          class="moj-side-navigation__item moj-side-navigation__item--active"
          aria-current="location"
        >
          <a href="/comparison/profile/supporting-pupils/supporting-all-pupils"
            >Policies and pupil support</a
          >
        </li>
        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/attendance">Attendance</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/curriculum">Curriculum</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/academic-performance/progress-attainment"
            >Academic performance</a
          >
        </li>
        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/after-year-11">Destinations after year 11</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/next-steps">Next steps</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">Comparing your schools</span>
    <h1 class="govuk-heading-xl">Policies and pupil support</h1>
    <p class="govuk-body">
      School policies explain the school’s values and what it is responsible
      for. They also set out what the school expects from pupils and families.
    </p>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a
            class="moj-sub-navigation__link"
            aria-current="page"
            href="supporting-all-pupils"
            >Supporting all pupils</a
          >
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="supporting-additional-needs"
            >Supporting additional needs</a
          >
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="other-policies"
            >Other policies</a
          >
        </li>
      </ul>
    </nav>

    <h2 class="govuk-heading-l">Pastoral care</h2>
    <p class="govuk-body">
      Pastoral care is the framework a school uses to support the social,
      emotional and physical well-being of all pupils, so every child feels safe
      and supported.
    </p>
    <p class="govuk-body">
      Pastoral care varies between schools, but can include support with
      behaviour, access to counselling, calm spaces and support for children
      with health conditions.
    </p>
    <div class="comparison-prompts">
      <div class="comparison-prompts__icon material-symbols-outlined">quiz</div>
      <h3 class="govuk-heading-m">
        What you could ask schools about pastoral care
      </h3>
    </div>
    <p class="govuk-body">
      When researching, contacting or visiting a school, you may want to ask:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>how does the school create a sense of belonging for pupils?</li>
      <li>what support is available to each year group?</li>
      <li>
        how does the school build strong collaborative relationships with
        parents and carers?
      </li>
      <li>
        how does the school support pupils who may be more vulnerable or need
        individual support?
      </li>
    </ul>

    <h3 class="govuk-heading-m">Value and ethos</h3>
    <p class="govuk-body">
      Values and ethos refer to the core values, beliefs and principles that
      shape a school's culture, teaching methods and overall environment.
    </p>
    <div class="sp-card">
      <div class="sp-card__content">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width: 30%">
                School
              </th>
              <th scope="col" class="govuk-table__header">Policy</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Bracken Cove Academy
              </th>
              <td class="govuk-table__cell">
                <a href="/school-websites/bracken-cove" class="govuk-link govuk-link--no-visited-state"
                  >View Bracken Cove Academy's website to view their value and
                  ethos</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Oak Nest Secondary School
              </th>
              <td class="govuk-table__cell">
                <a href="/school-websites/oak-nest" class="govuk-link govuk-link--no-visited-state"
                  >View Oak Nest Secondary School's website to view their value
                  and ethos</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Thomas Lane Secondary School
              </th>
              <td class="govuk-table__cell">
                <a href="/school-websites/thomas-lane" class="govuk-link govuk-link--no-visited-state"
                  >View Thomas Lane Secondary School's website to view their
                  value and ethos</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr
      class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"
    />

    <h2 class="govuk-heading-l">Behaviour policies</h2>
    <p class="govuk-body">
      When you choose a school, you agree to follow its behaviour policy, so
      it’s important that it suits your child.
    </p>
    <p class="govuk-body">
      Schools approach behaviour in different ways. A school’s behaviour policy
      explains how it encourages positive behaviour and keeps the learning
      environment safe and productive.
    </p>
    <p class="govuk-body">
      Visiting a school can help you see whether pupils are engaged and feel
      that they belong, which can help encourage positive behaviour.
    </p>
    <div class="sp-card">
      <div class="sp-card__content">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width: 30%">
                School
              </th>
              <th scope="col" class="govuk-table__header">Policy</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Bracken Cove Academy
              </th>
              <td class="govuk-table__cell">
                <a href="/school-websites/bracken-cove" class="govuk-link govuk-link--no-visited-state"
                  >View Bracken Cove Academy's website to view their behaviour
                  policy</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Oak Nest Secondary School
              </th>
              <td class="govuk-table__cell">
                <a href="/school-websites/oak-nest" class="govuk-link govuk-link--no-visited-state"
                  >View Oak Nest Secondary School's website to view their
                  behaviour policy</a
                >
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Thomas Lane Secondary School
              </th>
              <td class="govuk-table__cell">
                <a href="/school-websites/thomas-lane" class="govuk-link govuk-link--no-visited-state"
                  >View Thomas Lane Secondary School's website to view their
                  behaviour policy</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="comparison-prompts">
      <div class="comparison-prompts__icon material-symbols-outlined">quiz</div>
      <h3 class="govuk-heading-m">
        What you could ask schools about the behaviour policy
      </h3>
    </div>
    <p class="govuk-body">
      When researching, contacting or visiting a school, you may want to ask:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        how does the school check that it applies the policy fairly and as
        intended?
      </li>
      <li>what training or coaching do staff get on behaviour?</li>
      <li>
        how does the school respond to misbehaviour or reward good behaviour?
      </li>
      <li>what does the school consider bullying and how is it dealt with?</li>
      <li>
        how will the school communicate with parents about their child’s
        behaviour?
      </li>
    </ul>
    <nav
      class="govuk-pagination govuk-pagination--block"
      aria-label="Pagination"
    >
      <div class="govuk-pagination__prev">
        <a
          class="govuk-link govuk-pagination__link"
          href="/comparison/profile/about-your-schools/school-details"
          rel="prev"
        >
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--prev"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
          >
            <path
              d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"
            ></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Previous<span class="govuk-visually-hidden"> page</span>
          </span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label"
            >About your schools: School details</span
          >
        </a>
      </div>
      <div class="govuk-pagination__next">
        <a
          class="govuk-link govuk-pagination__link"
          href="supporting-additional-needs"
          rel="next"
        >
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--next"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
          >
            <path
              d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"
            ></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> page</span>
          </span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label"
            >Policies and pupil support: Supporting additional needs</span
          >
        </a>
      </div>
    </nav>
  </div>
</div>

{% endblock %}