{% extends "layouts/ur.html" %} {% block pageTitle %} Destinations {%
endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% set activeNav = "destinations" %}
    {% include "includes/thomas-lane-side-nav.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">Thomas Lane Secondary School</span>
    <h1 class="govuk-heading-xl">Destinations</h1>
    <p class="govuk-body">
      Looking at school performance data is one way to see how well a school is
      doing. You should look at a range of information about a school before
      deciding if it’s the right fit for your child.
    </p>
    <h2 class="govuk-heading-l">
      Destinations of pupils who finished year 11 in the 2021 to 2022 academic
      year
    </h2>
    <div class="sp-card-graph">
      <h3 class="govuk-heading-m">
        Stayed in education, employment and  apprenticeship
      </h3>


       <p class="govuk-body">
    This shows the percentage of pupils who either stayed in education,
    went into an apprenticeship or entered employment for at least
    6 months after finishing key stage 4 (KS4). Pupils usually finish
    KS4 after year 11, when they are 16.
  </p>

  <div class="sp-card-actions">
    <button
      type="button"
      class="govuk-button govuk-button--secondary"
    >
      Show as a table
    </button>

    <button
      type="button"
      class="govuk-button govuk-button--secondary"
    >
      Show data over time
    </button>
  </div>

  <div class="sp-info">
    Number of students enrolled to study mainly academic qualifications: 300
  </div>

  <div id="destinations" class="chart chart--destinations"></div>

  
</div>
<section class="govuk-!-margin-top-7">
  <h2 class="govuk-heading-l">
    Education destinations for 2022 and 2023 academic year
  </h2>

  <p class="govuk-body">
    Education includes school sixth forms, sixth-form colleges, further education
    colleges and other education settings.
  </p>

  <!-- Education destinations summary -->
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">
      Education destinations for 2022 and 2023 academic year
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"> </th>
        <th scope="col" class="govuk-table__header">School</th>
        <th scope="col" class="govuk-table__header">Sheffield average</th>
        <th scope="col" class="govuk-table__header">England average</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          Total number of pupils staying in education
        </th>
        <td class="govuk-table__cell">91%</td>
        <td class="govuk-table__cell">85%</td>
        <td class="govuk-table__cell">86%</td>
      </tr>
    </tbody>
  </table>

  <!-- Breakdown of pupils staying in education -->
  <h3 class="govuk-heading-m govuk-!-margin-top-6">
    Breakdown of pupils staying in education
  </h3>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">
      Breakdown of pupils staying in education
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"> </th>
        <th scope="col" class="govuk-table__header">School</th>
        <th scope="col" class="govuk-table__header">Sheffield average</th>
        <th scope="col" class="govuk-table__header">England average</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          Pupils who studied at a further education provider
        </th>
        <td class="govuk-table__cell">91%</td>
        <td class="govuk-table__cell">85%</td>
        <td class="govuk-table__cell">86%</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          Pupils who studied in sixth form
        </th>
        <td class="govuk-table__cell">91%</td>
        <td class="govuk-table__cell">85%</td>
        <td class="govuk-table__cell">86%</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          Pupils who studied in sixth form colleges
        </th>
        <td class="govuk-table__cell">91%</td>
        <td class="govuk-table__cell">85%</td>
        <td class="govuk-table__cell">86%</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          Pupils who studied in other education destinations
        </th>
        <td class="govuk-table__cell">91%</td>
        <td class="govuk-table__cell">85%</td>
        <td class="govuk-table__cell">86%</td>
      </tr>
    </tbody>
  </table>

  <!-- Breakdown of pupils in apprenticeships or employment -->
  <h3 class="govuk-heading-m govuk-!-margin-top-6">
    Breakdown of pupils in apprenticeships or employment
  </h3>

  <p class="govuk-body">
    The breakdown of percentage of pupils who either went into an apprenticeship
    or started employment for at least 6 months after finishing KS4.
    Pupils are grouped into these categories.
  </p>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">
      Breakdown of pupils in apprenticeships or employment
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"> </th>
        <th scope="col" class="govuk-table__header">School</th>
        <th scope="col" class="govuk-table__header">Sheffield average</th>
        <th scope="col" class="govuk-table__header">England average</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          Pupils staying in employment for at least 2 terms
        </th>
        <td class="govuk-table__cell">91%</td>
        <td class="govuk-table__cell">85%</td>
        <td class="govuk-table__cell">86%</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          Pupils staying in apprenticeships for at least 6 months
        </th>
        <td class="govuk-table__cell">91%</td>
        <td class="govuk-table__cell">85%</td>
        <td class="govuk-table__cell">86%</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          Pupils not staying in education or employment for at least 2 terms
        </th>
        <td class="govuk-table__cell">91%</td>
        <td class="govuk-table__cell">85%</td>
        <td class="govuk-table__cell">86%</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          Destination unknown
        </th>
        <td class="govuk-table__cell">91%</td>
        <td class="govuk-table__cell">85%</td>
        <td class="govuk-table__cell">86%</td>
      </tr>
    </tbody>
  </table>

  <!-- Breakdown of pupils not staying in education or employment -->
  <h3 class="govuk-heading-m govuk-!-margin-top-6">
    Breakdown of pupils not staying in education or employment
  </h3>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">
      Breakdown of pupils not staying in education or employment
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"> </th>
        <th scope="col" class="govuk-table__header">School</th>
        <th scope="col" class="govuk-table__header">Sheffield average</th>
        <th scope="col" class="govuk-table__header">England average</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          Pupils not staying in education or employment for at least 2 terms
        </th>
        <td class="govuk-table__cell">91%</td>
        <td class="govuk-table__cell">85%</td>
        <td class="govuk-table__cell">86%</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          Destination unknown
        </th>
        <td class="govuk-table__cell">91%</td>
        <td class="govuk-table__cell">85%</td>
        <td class="govuk-table__cell">86%</td>
      </tr>
    </tbody>
  </table>
</section>

    <nav
      class="govuk-pagination govuk-pagination--block"
      aria-label="Pagination"
    >
      <div class="govuk-pagination__prev">
        <a
          class="govuk-link govuk-pagination__link"
          href="/user-research/comparison-usability/school-profiles/thomas-lane/academic-performance/subjects-entered"
          rel="prev"
        >
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--prev"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
          >
            <path
              d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"
            ></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Previous<span class="govuk-visually-hidden"> page</span>
          </span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label"
            >Academic performance: Subjects entered</span
          >
        </a>
      </div>
    </nav>
  </div>
</div>

{% endblock %} {% block pageScripts %}

<!-- Load your local chart code (file in app/assets/javascripts) -->
<script src="/public/javascripts/google-charts.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<!-- Initialise the chart -->
<script>
  google.charts.load("current", { packages: ["corechart"] });
  google.charts.setOnLoadCallback(window.drawGoogleChart);
</script>

{% endblock %}
