{% extends "layouts/main.html" %} {% block pageTitle %} About your schools: Your
chosen schools {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <nav class="moj-side-navigation" aria-label="Side navigation">
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="/comparison/profile/about-your-schools/your-chosen-schools"
            >About your schools</a
          >
        </li>
        <li class="moj-side-navigation__item moj-side-navigation__item--active">
          <a
            href="/comparison/profile/policies-pupil-support/pastoral-care"
            aria-current="location"
            >Policies and pupil support</a
          >
        </li>
        <li class="moj-side-navigation__item">
          <a href="">Pupil experience in schools</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="">Outcomes and performance</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="">Next steps and admissions</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">Comparing your schools</span>
    <h1 class="govuk-heading-xl">Policies and pupil support</h1>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href=""
            >Pastoral care</a
          >
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="">SEND support</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="">Other school policies</a>
        </li>
      </ul>
    </nav>

    <h2 class="govuk-heading-l">Pastoral care</h2>
    <p class="govuk-body">
      Pastoral care is the framework a school uses to support the social,
      emotional and physical well-being of all pupils, so every child feels safe
      and supported.
    </p>
    <p class="govuk-body">
      Pastoral care varies between schools, but can include support with
      behaviour, access to counselling, calm spaces and support for children
      with health conditions.
    </p>
     <div class="sp-heading-icon">
       <div class="sp-heading-icon__icon material-symbols-outlined">
        quiz
      </div>
    <h3 class="govuk-heading-m">
      What you could ask about pastoral care in schools
    </h3>
    </div>
    <p class="govuk-body">
      When researching, contacting or visiting a school, you may want to ask:
    </p>
     <div class="sp-card">
      <div class="sp-card__content">
        <p class="govuk-body">
          The score of 45 is 5 points lower than the local authority average of
          50, so pupils are performing below local peers.
        </p>
        <p class="govuk-body">
          It’s 5 points higher than the national average of 40, meaning pupils
          are performing above the national average
        </p>
      </div>
      <div class="sp-card__icon material-symbols-outlined">
        bar_chart_4_bars
      </div>
    </div>
    <nav
      class="govuk-pagination govuk-pagination--block"
      aria-label="Pagination"
    >
      <div class="govuk-pagination__next">
        <a
          class="govuk-link govuk-pagination__link"
          href="school-information"
          rel="next"
        >
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--next"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
          >
            <path
              d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"
            ></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> page</span>
          </span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label"
            >About your schools: School information</span
          >
        </a>
      </div>
    </nav>
  </div>
</div>

{% endblock %}
