{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Pupil characteristics
      </h1>

      <h2 class="govuk-heading-m">Disadvantaged pupils</h2>

      <p class="govuk-body">
        Pupils are identified as disadvantaged if any of the following apply:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>they were eligible for free school meals at any time during the last 6 years</li>
        <li>they have been in the care of the local council for a day or more</li>
        <li>they have been adopted from care</li>
      </ul>

    <h2 class="govuk-heading-m">Pupils with English as an additional language</h2>

    <p class="govuk-body">
      Pupils who hear or use a language other than English at home.
    </p>

    <p class="govuk-body">
      This does not show how well a child speaks English and does not mean they are new to the UK.
    </p>

    <h2 class="govuk-heading-m">Non-mobile pupils</h2>

    <p class="govuk-body">
      Pupils who stayed at the same school for their final 2 years of secondary school (years 10 and 11).
    </p>

    <h2 class="govuk-heading-m">Prior attainment</h2>

    <p class="govuk-body">
      Prior attainment is a score based on pupils’ previous attainment.
    </p>

      <p class="govuk-body">
        For pupils in Key Stage 4, prior attainment is based on their Key Stage 2 attainment in:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>English reading</li>
        <li>maths national curriculum tests</li>
      </ul>


      <p class="govuk-body">
        Understanding pupils’ prior attainment helps to show how much they have progressed.
      </p>

      <p class="govuk-body">
        Pupils can achieve a score between 90 to 120.
      </p>

    <h3 class="govuk-heading-s">Low prior attainers</h3>

    <p class="govuk-body">
      Pupils whose average score was below 100.
    </p>

    <h3 class="govuk-heading-s">Middle prior attainers</h3>

    <p class="govuk-body">
    Pupils whose average score was greater than or equal to 100 but less than 110.
    </p>

    <h3 class="govuk-heading-s">High prior attainers</h3>

    <p class="govuk-body">
      Pupils whose average score was greater than or equal to 110.
    </p>

      <div class="govuk-inset-text">
        <p class="govuk-body">
          There is no Key Stage 4 prior attainment data for the academic years ending in 2025 and 2026.
        </p>
        <p class="govuk-body">
          This is because there is no Key Stage 2 prior attainment data available for these pupils due to COVID-19 disruption.
        </p>
      </div>


    </div>
  </div>

{% endblock %}
