{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Explore school profiles prototype</h1>

    <ul class="govuk-list">
      <li>
        <p class="govuk-body">Prototype experiments - <a class="govuk-link" href="/prototype-v-2/search/find-a-school">Find a school</a></p>
      </li>
      <li>
        <p class="govuk-body">Closer to build - <a class="govuk-link" href="/prototype-v-1/about-the-school">Prototype</a></p>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
