{% extends "layouts/main.html" %} {% set pageName="Home" %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"
      >Find and compare school and college profiles</span
    >
    <h1 class="govuk-heading-xl">Prototype</h1>
    <h2 class="govuk-heading-m">Comparison testing</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Start of journey –
        <a class="govuk-link" href="user-research/comparison-usability/start">
          Search for a school
        </a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">Comparison prototype</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Comparing 3 schools –
        <a
          class="govuk-link"
          href="comparison/profile/about-your-schools/school-overview"
        >
          Start of comparison - School overview
        </a>
      </li>

    </ul>

    <h2 class="govuk-heading-m">School profile prototypes</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        School profile –
        <a class="govuk-link" href="school-profile/about-the-school">
          About the school
        </a>
      </li>
      <li>
        Prototype experiments –
        <a class="govuk-link" href="/prototype-v-2/search/find-a-school">
          Find a school
        </a>
      </li>
      <li>
        Closer to build –
        <a class="govuk-link" href="/prototype-v-1/about-the-school">
          Prototype
        </a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">League table concepts</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="/concepts/compare-all-schools-england">
          Landing page
        </a>
      </li>
      <li>
        <a
          class="govuk-link"
          href="/concepts/compare-secondary-schools-and-colleges"
        >
          Navigation version
        </a>
      </li>
      <li>
        <a
          class="govuk-link"
          href="/concepts/secondary-league-table-v-2-scrollable-mobile"
        >
          Scrollable mobile panel
        </a>
      </li>
      <li>
        Filter panel variations:
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/concepts/secondary-league-table">
              Static filter panel
            </a>
          </li>
          <li>
            <a class="govuk-link" href="/concepts/secondary-league-table-v-2">
              Collapsible filter panel
            </a>
          </li>
        </ul>
      </li>
      <li>
        Edge cases:
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a
              class="govuk-link"
              href="/concepts/secondary-league-table-attainment-8-by-subject"
            >
              Attainment 8 by subject
            </a>
          </li>
          <li>
            <a
              class="govuk-link"
              href="/concepts/secondary-league-table-progress-8"
            >
              Progress 8
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
