{% extends "layouts/main.html" %} {% block pageTitle %} Academic performance:
Subjects entered {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/side-nav.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">Oak Nest Secondary School</span>
    <h1 class="govuk-heading-xl">Academic performance</h1>
    <p class="govuk-body">
      Looking at school performance data is one way to see how well a school is
      doing. You should look at a range of information about a school before
      deciding if it’s the right fit for your child.
    </p>

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="attainment-progress">
            Progress
          </a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="/prototype-v-1/academic-performance/attainment/attainment-versions/attainment">
            Attainment
          </a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="english-maths-results">
            English and maths results
          </a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="subjects-entered">
            Subjects entered
          </a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="other-performance-measures">Additional measures</a>
        </li>
      </ul>
    </nav>

    <h2 class="govuk-heading-l">
      Additional measures
    </h2>

    <p class="govuk-body">
      Information in this section is for the 2024 to 2025 academic year.
    </p>

    <p class="govuk-body">
      Compare additional performance measures for this school with local authority and national performance.
    </p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          More information about the additional measures
        </span>
      </summary>
      <div class="govuk-details__text">

        <h3 class="govuk-heading-s">
          Pupils achieving at least one qualification
        </h3>

        <p class="govuk-body">
          The total number of pupils achieving at least one qualification approved for inclusion in performance measures at end of key stage 4.
        </p>

        <h3 class="govuk-heading-s">
          Pupils entering for biology, chemistry and physics
        </h3>

        <p class="govuk-body">
          The percentage of pupils taking biology, chemistry and physics GCSEs at end of key stage 4.
        </p>

        <h3 class="govuk-heading-s">
          Pupils entering more than one foreign language
        </h3>

        <p class="govuk-body">
          The percentage of pupils taking more than one foreign language at the end of KS4.
        </p>

        <h3 class="govuk-heading-s">
          Exam entries per pupil, GCSEs
        </h3>

        <p class="govuk-body">
          The average number of GCSEs taken by pupils at the end of KS4.
        </p>

        <h3 class="govuk-heading-s">
          Exam entries per pupil, all KS4 qualifications
        </h3>

        <p class="govuk-body">
          The average number of GCSE and technical awards taken by pupils at the end of KS4.
        </p>

        <h3 class="govuk-heading-s">
          Number of pupils at the end of KS4
        </h3>

        <p class="govuk-body">
          The total number of pupils at the end of KS4.
        </p>

      </div>
    </details>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">
        Other performance measures
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Measure</th>
          <th scope="col" class="govuk-table__header">School</th>
          <th scope="col" class="govuk-table__header">Local authority</th>
          <th scope="col" class="govuk-table__header">England</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Pupils achieving at least 1 qualification</th>
          <td class="govuk-table__cell">99.1%</td>
          <td class="govuk-table__cell">94.9%</td>
          <td class="govuk-table__cell">96.5%</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Pupils entering for biology, chemistry and physics</th>
          <td class="govuk-table__cell">18.1%</td>
          <td class="govuk-table__cell">28.9%</td>
          <td class="govuk-table__cell">23.5%</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Pupils entering for more than one foreign language</th>
          <td class="govuk-table__cell">1.1%</td>
          <td class="govuk-table__cell">1.6%</td>
          <td class="govuk-table__cell">3.2%</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Exam entries per pupil, GCSEs</th>
          <td class="govuk-table__cell">6.6</td>
          <td class="govuk-table__cell">6.9</td>
          <td class="govuk-table__cell">7.2</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Exam entries per pupil, all KS4 qualifications</th>
          <td class="govuk-table__cell">7.7</td>
          <td class="govuk-table__cell">7.6</td>
          <td class="govuk-table__cell">7.8</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Number of pupils at the end of KS4</th>
          <td class="govuk-table__cell">318</td>
          <td class="govuk-table__cell">6,209</td>
          <td class="govuk-table__cell">625,649</td>
        </tr>
      </tbody>
    </table>


    <nav
      class="govuk-pagination govuk-pagination--block"
      aria-label="Pagination"
    >
      <div class="govuk-pagination__prev">
        <a
          class="govuk-link govuk-pagination__link"
          href="english-maths-results"
          rel="prev"
        >
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--prev"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
          >
            <path
              d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"
            ></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Previous<span class="govuk-visually-hidden"> page</span>
          </span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label"
            >Academic performance: English and maths results</span
          >
        </a>
      </div>
      <div class="govuk-pagination__next">
        <a
          class="govuk-link govuk-pagination__link"
          href="/destinations"
          rel="next"
        >
          <svg
            class="govuk-pagination__icon govuk-pagination__icon--next"
            xmlns="http://www.w3.org/2000/svg"
            height="13"
            width="15"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 15 13"
          >
            <path
              d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"
            ></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> page</span>
          </span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label">Destinations</span>
        </a>
      </div>
    </nav>
  </div>
</div>

{% endblock %}
