{% extends "layouts/ur.html" %} 
{% block pageTitle %} Academic performance:
Attainment and progress {% endblock %}
{% block content %}

{% set characteristic = characteristic or "all" %}

{% if characteristic == "all" %}
  {% set groupLabel = "all pupils" %}
{% elif characteristic == "disadvantaged" %}
  {% set groupLabel = "disadvantaged pupils" %}
{# {% elif characteristic == "prior-attainment" %}
{% set groupLabel = "pupils by prior attainment" %} #}
{% elif characteristic == "eal" %}
  {% set groupLabel = "pupils with English as an additional language" %}
{% elif characteristic == "girls" %}
  {% set groupLabel = "girls" %}
{% elif characteristic == "boys" %}
  {% set groupLabel = "boys" %}
{% elif characteristic == "non-mobile" %}
  {% set groupLabel = "non-mobile pupils" %}
{% else %}
  {% set groupLabel = "all pupils" %}
{% endif %}

{% if characteristic == "all" %}
  {% set firstMention = "pupils" %}
  {% set shortMention = "pupils" %}
  {% set shortMentionAtSchool = "pupils at this school" %}

{% elif characteristic == "disadvantaged" %}
  {% set firstMention = "disadvantaged pupils" %}
  {% set shortMention = "disadvantaged pupils" %}
  {% set shortMentionAtSchool = "disadvantaged pupils at this school" %}

{% elif characteristic == "eal" %}
  {% set firstMention = "pupils with English as an additional language (EAL)" %}
  {% set shortMention = "pupils with EAL" %}
  {% set shortMentionAtSchool = "pupils with EAL at this school" %}

{% elif characteristic == "girls" %}
  {% set firstMention = "girls" %}
  {% set shortMention = "girls" %}
  {% set shortMentionAtSchool = "girls at this school" %}

{% elif characteristic == "boys" %}
  {% set firstMention = "boys" %}
  {% set shortMention = "boys" %}
  {% set shortMentionAtSchool = "boys at this school" %}

{% elif characteristic == "non-mobile" %}
  {% set firstMention = "non-mobile pupils" %}
  {% set shortMention = "non-mobile pupils" %}
  {% set shortMentionAtSchool = "non-mobile pupils at this school" %}

{% else %}
  {% set firstMention = "pupils" %}
  {% set shortMention = "pupils" %}
  {% set shortMentionAtSchool = "pupils at this school" %}
{% endif %}

{% if subject == "english" %}
  {% set subjectLabel = "English" %}
{% elif subject == "maths" %}
  {% set subjectLabel = "maths" %}
{% elif subject == "ebacc" %}
  {% set subjectLabel = "EBacc subjects" %}
{% elif subject == "any-qual" %}
  {% set subjectLabel = "other approved subjects (any qualification)" %}
{% elif subject == "academic-qual" %}
  {% set subjectLabel = "other approved subjects (academic qualifications only)" %}
{% elif subject == "vocational-qual" %}
  {% set subjectLabel = "other approved subjects (vocational qualifications only)" %}
{% else %}
  {% set subjectLabel = "English" %}
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        {% set activeNav = "academic-performance" %}
        {% include "includes/langley-hill-side-nav.html" %}
    </div>

    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-xl">Langley Secondary School</span>
        <h1 class="govuk-heading-xl">Academic performance</h1>
        <p class="govuk-body">
            Looking at school performance data is one way to see how well a school is
            doing. You should look at a range of information about a school before
            deciding if it’s the right fit for your child.
        </p>

        <nav class="moj-sub-navigation" aria-label="Sub navigation">
            <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/user-research/comparison-usability/school-profiles/langley-hill/academic-performance/attainment-progress">
                        Progress
                    </a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" href="attainment">
                        Attainment
                    </a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/user-research/comparison-usability/school-profiles/langley-hill/academic-performance/english-maths-results">
                        English and maths results
                    </a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/user-research/comparison-usability/school-profiles/langley-hill/academic-performance/subjects-entered">
                        Subjects entered
                    </a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/user-research/comparison-usability/school-profiles/langley-hill/academic-performance/other-performance-measures">Additional measures</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/user-research/comparison-usability/school-profiles/langley-hill/academic-performance/pupil-numbers">Pupils in this cohort</a>
                </li>
            </ul>
        </nav>

        <h2 class="govuk-heading-l">Attainment</h2>

        <p class="govuk-body">
            See how well pupils perform compared with local council and national averages by comparing Attainment 8 scores.
        </p>

        <p class="govuk-body">
            <a href="/standalone-pages/attainment-8" class="govuk-link">Attainment 8</a> is used to assess a pupil’s average achievement across 8 of their best GCSE-level subjects.
        </p>

        <h3 class="govuk-heading-m govuk-!-margin-top-9">Compare this school’s Attainment 8 score with local council and national averages</h3>

        <div class="govuk-inset-text">
            <p class="govuk-body">
                You can narrow down the results by <a href="/standalone-pages/pupil-characteristics" class="govuk-link">pupil characteristic</a>.
            </p>
        </div>

        <form method="get" action="/pupil-characteristic" class="govuk-!-margin-bottom-2">

            <input type="hidden" name="subject" value="{{ subject }}">

            <div class="govuk-form-group">
                <label class="govuk-label" for="characteristic">
                    Narrow down by pupil characteristic
                </label>
                <select class="govuk-select" id="characteristic" name="characteristic">
                    <option value="all" {{ "selected" if characteristic == "all" }}>All pupils</option>
                    <option value="disadvantaged" {{ "selected" if characteristic == "disadvantaged" }}>Disadvantaged pupils</option>
                    {# <option value="prior-attainment" {{ "selected" if characteristic == "prior-attainment" }}>Prior attainment</option> #}
                    <option value="eal" {{ "selected" if characteristic == "eal" }}>English as an additional language</option>
                    <option value="girls" {{ "selected" if characteristic == "girls" }}>Girls</option>
                    <option value="boys" {{ "selected" if characteristic == "boys" }}>Boys</option>
                    <option value="non-mobile" {{ "selected" if characteristic == "non-mobile" }}>Non-mobile pupils</option>
                </select>

            </div>


            <button class="govuk-button" type="submit">
                Update results
            </button>

        </form>


        <h4 class="govuk-heading-s govuk-!-margin-bottom-2">
            Attainment 8 scores for {{ groupLabel }} in the 2024 to 2025 academic year
        </h4>

        {{ govukTable({
        caption: "Attainment 8 scores for " + groupLabel,
        captionClasses: "govuk-visually-hidden",
        firstCellIsHeader: true,
        head: [
        { text: "Compare" },
        { text: "Attainment 8 score" }
        ],
        rows: [
        [
        { html: "Langley Secondary School" },
        { text: "45" }
        ],
        [
        { text: "Local council average" },
        { text: "50" }
        ],
        [
        { text: "National average" },
        { text: "40" }
        ]
        ]
        }) }}

        <h4 class="govuk-heading-s">
            What this means
        </h4>

        <p class="govuk-body">
            The Attainment 8 score for this school is 45.
        </p>

        <p class="govuk-body">
          This means that {{ firstMention }} generally scored the equivalent of between grades 4 and 5 in their 8 best GCSE-level subjects.
        </p>

        <p class="govuk-body">
          The score is 5 points lower than the local council average of 50.
          This means that {{ shortMentionAtSchool }} perform below {{ shortMention }} at other schools in the area.
        </p>

        <p class="govuk-body">
            It’s 5 points higher than the national average of 40, meaning that {{ shortMentionAtSchool }} are performing above the national average{% if characteristic != "all" %} for {{ shortMention }}{% endif %}.
        </p>


        {% if characteristic == "all" or characteristic == "disadvantaged" %}

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Compare with previous years
                </span>
              </summary>
              <div class="govuk-details__text">
                  <h4 class="govuk-heading-s govuk-!-margin-bottom-2">
                      Attainment 8 scores for {{ groupLabel }} in the academic years ending in 2025, 2024 and 2023
                  </h4>
                {{ govukTable({
                  caption: "Attainment 8 scores for " + groupLabel + " in the academic years ending in 2025, 2024 and 2023",
                  captionClasses: "govuk-visually-hidden",
                  firstCellIsHeader: true,
                  head: [
                    { text: "Compare" },
                    { text: "Attainment 8 score (2025)" },
                    { text: "Attainment 8 score (2024)" },
                    { text: "Attainment 8 score (2023)" }
                  ],
                  rows: [
                    [
                      { html: "Langley Secondary School" },
                      { text: "45" },
                      { text: "47" },
                      { text: "46" }
                    ],
                    [
                      { text: "Local council average" },
                      { text: "50" },
                      { text: "52" },
                      { text: "51" }
                    ],
                    [
                      { text: "National average" },
                      { text: "40" },
                      { text: "42" },
                      { text: "41" }
                    ]
                  ]
                }) }}
              </div>
            </details>

            {% endif %}

        {% if characteristic == "disadvantaged" %}

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Compare with non disadvantaged pupils
                </span>
            </summary>
            <div class="govuk-details__text">
                <h4 class="govuk-heading-s">
          Attainment 8 scores for disadvantaged pupils in the 2024 to 2025 academic year, compared to non-disadvantaged pupils
        </h4>

        {{ govukTable({
          caption: "Attainment 8 scores for disadvantaged pupils in the 2024 to 2025 academic year, compared to non-disadvantaged pupils",
          captionClasses: "govuk-visually-hidden",
          firstCellIsHeader: true,
          head: [
            { text: "Compare" },
            { text: "Attainment 8 score for disadvantaged pupils" },
            { text: "Attainment 8 score for non disadvantaged pupils" }
          ],
          rows: [
            [
              { text: "Langley Secondary School" },
              { text: "45" },
              { text: "52" }
            ],
            [
              { text: "Local council average" },
              { text: "50" },
              { text: "55" }
            ],
            [
              { text: "National average" },
              { text: "40" },
              { text: "48" }
            ]
          ]
        }) }}
            </div>
        </details>

        {% endif %}



        <h3 class="govuk-heading-m govuk-!-margin-top-9">Break down this school’s Attainment 8 scores by subject areas</h3>

        <div class="govuk-inset-text">
            <p class="govuk-body">
                Learn about <a href="/standalone-pages/attainment-8" class="govuk-link">subject areas</a>.
            </p>
        </div>

        <form method="get" action="/subject-breakdown" class="govuk-!-margin-bottom-2">

            <input type="hidden" name="characteristic" value="{{ characteristic }}">

          <div class="govuk-form-group">
            <label class="govuk-label" for="subject">
              Select a subject area
            </label>

            <select class="govuk-select" id="subject" name="subject">
              <option value="english" {{ "selected" if subject == "english" }}>English</option>
              <option value="maths" {{ "selected" if subject == "maths" }}>Maths</option>
              <option value="ebacc" {{ "selected" if subject == "ebacc" }}>Ebacc subjects</option>
              <option value="any-qual" {{ "selected" if subject == "any-qual" }}>Other approved subjects: any qualification</option>
              <option value="academic-qual" {{ "selected" if subject == "academic-qual" }}>Other approved subjects: academic qualifications only</option>
              <option value="vocational-qual" {{ "selected" if subject == "vocational-qual" }}>Other approved subjects: vocational qualifications only</option>
            </select>
          </div>

          <button class="govuk-button" type="submit">
            Update results
          </button>

        </form>


        <h4 class="govuk-heading-s govuk-!-margin-bottom-2">
            Average scores for all pupils in {{ subjectLabel }} in the 2024 to 2025 academic year
        </h4>

        {{ govukTable({
        caption: "Attainment 8 score - 8 best subjects - disadvantaged pupils - 2024 to 2025",
        captionClasses: "govuk-visually-hidden",
        firstCellIsHeader: true,
        head: [
        {
        text: "Compare"
        },
        {
        text: "Attainment 8 score"
        }
        ],
        rows: [
        [
        {
        html: "Langley Secondary School"
        },
        {
        text: "45"
        }
        ],
        [
        {
        text: "Local council average"
        },
        {
        text: "50"
        }
        ],
        [
        {
        text: "National average"
        },
        {
        text: "40"
        }
        ]
        ]
        }) }}



    </div>
</div>



{% endblock %}
